<!DOCTYPE html>
<html lang="en" id="html" class="[scroll-behavior:smooth] [scroll-snap-type:y_mandatory;]">
<head>
    <meta charset="UTF-8">
    <title>{{ .Page.Title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                screens : {
                    '2xl': { 'raw': '(min-device-height: 1536px)' },
                    'xl': { 'raw': '(min-device-height: 1280px)' },
                    'lg': { 'raw': '(min-device-height: 1024px)' },
                    'md': { 'raw': '(min-device-height: 768px)' },
                    'sm': { 'raw': '(min-device-height: 640px)' },
                },
                extend: {
                    colors: {
                        darkgreen: '#344342',
                        gold: '#DED2CC',
                        grey: '#747B84'
                    },
                    spacing: {
                        'screen': '100vh',
                    }
                }
            }
        }
    </script>
</head>
<body id="body" class="tracking-wider overflow-x-hidden" style="font-family: 'Roboto Light', system-ui, sans-serif">
<style type="text/tailwindcss">
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer links {
        a {
            @apply text-darkgreen underline;
        }
    }
</style>
{{ $navbarcss := resources.Get "css/navbar.css" }}
<link href="{{ $navbarcss.RelPermalink }}" rel="stylesheet">
{{ $parallaxcss := resources.Get "css/parallax.css" }}
<link href="{{ $parallaxcss.RelPermalink }}" rel="stylesheet">
{{ $card := resources.Get "css/card.css" }}
<link href="{{ $card.RelPermalink }}" rel="stylesheet">
{{ partial "navbar/navbar.html" . }}
{{ block "main" . }}
<!-- block content -->
{{ end  }}
</body>
</html>