<!DOCTYPE html>
<html lang="en" id="html" class="[scroll-behavior:smooth] [scroll-snap-type:y_mandatory;]">

<head>
    <meta charset="UTF-8">
    <title>{{ .Page.Title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://zhou-efr.github.io/files/image/favicon.png" type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    'body': ['Poppins', "'Roboto Light'", "system-ui", "sans-serif"],
                },
                screens : {
                    '2xl': { 'raw': '(min-width: 1536px)' },
                    'xl': { 'raw': '(min-width: 1280px)' },
                    'lg': { 'raw': '(min-width: 1024px)' },
                    'md': { 'raw': '(min-device-width: 768px) or (min-width: 768px)' },
                    'sm': { 'raw': '(min-device-width: 640px) or (min-width: 640px)' },
                },
                extend: {
                    colors: {
                        darkgreen: '#344342',
                        gold: '#DED2CC',
                        grey: '#747B84',
                        darkiceblue: '#143649',
                        lighticeblue: '#C9DDE9'
                    },
                    spacing: {
                        'screen': '100vh',
                        '128': '32rem',
                        '144': '36rem',
                    },

                }
            }
        }
    </script>

    <meta
            name="description"
            content="Zhou Killian, Student engineer in Cybersecurity, IS and Governance" />
    <meta
            property="og:image"
            content="/files/images/thumbnail.png" />
    <meta
            property="og:description"
            content="Zhou Killian, Student engineer in Cybersecurity, IS and Governance" />
    <meta property="og:title" content="Zhou Killian" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JPBGKSNB3C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JPBGKSNB3C');
    </script>

</head>
<body id="body" class="tracking-wider overflow-x-hidden font-body font-light">

<style type="text/tailwindcss">
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer links {
        a {
            @apply text-darkgreen underline;
        }
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    body {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
</style>

{{ $navbarcss := resources.Get "css/navbar.css" }}
<link href="{{ $navbarcss.RelPermalink }}" rel="stylesheet">
{{ $parallaxcss := resources.Get "css/parallax.css" }}
<link href="{{ $parallaxcss.RelPermalink }}" rel="stylesheet">
{{ $card := resources.Get "css/card.css" }}
<link href="{{ $card.RelPermalink }}" rel="stylesheet">

{{ block "main" . }}

{{ end  }}

</body>
</html>