{{ define "main" }}
{{ $parallax := resources.Get "images/panda-1.png" }}
<div
        alt="panda"
        class="
            [scroll-snap-align:start]
            bg-[url({{ $parallax.RelPermalink }})]
            bg-fixed bg-center bg-cover
            w-screen h-screen
            absolute top-0
            z-0
        "
/>
<p class="text-white absolute top-4 right-4 text-sm font-thin">Photo by Yu Wang on Unsplash</p>
{{ $parallaxcontent := resources.Get "images/panda-2.png" }}

<div class="w-screen mt-screen relative flex flex-col items-center parallax [scroll-snap-align:start] bg-[url('{{$parallaxcontent.RelPermalink}}')] bg-fixed bg-cover md:bg-none">
    <img src="{{ $parallaxcontent.RelPermalink }}" alt="Singapore, Garden by the bay" class="w-screen hidden md:block top-0 md:parallax__layer md:[transform:translateZ(-1px)_scale(2)_translateX(-10px)]">
    <div class="w-full parallax__layer parallax__layer--base text-darkgreen flex flex-col items-center pt-5">
        <div class="card w-4/5 rounded-lg p-5 text-darkgreen">
            <h2 class="text-2xl text-grey font-regular">大熊猫</h2>
            <h1 class="text-5xl text-darkgreen font-black">Grosser Panda.JPG</h1>
            <p class="w-full lg:text-lg lg:w-2/3 mt-3">
                The giant panda (Ailuropoda melanoleuca), also known as the panda bear (or simply the panda), is a bear
                species endemic to China. It is characterised by its bold black-and-white coat and rotund body. The name
                "giant panda" is sometimes used to distinguish it from the red panda, a neighboring musteloid. Though it
                belongs to the order Carnivora, the giant panda is a folivore, with bamboo shoots and leaves making up
                more than 99% of its diet. Giant pandas in the wild occasionally eat other grasses, wild tubers, or
                even meat in the form of birds, rodents, or carrion. In captivity, they may receive honey, eggs, fish,
                yams, shrub leaves, oranges, or bananas along with specially prepared food.
            </p>
            <h2 class="text-2xl lg:w-1/3 font-semibold mt-3">Is the panda vegetarian ?</h2>
            <p class="w-full lg:text-lg lg:w-1/3 mt-3">
                The giant panda's diet is primarily herbivorous, consisting almost exclusively of bamboo. However, the
                giant panda still has the digestive system of a carnivore, as well as carnivore-specific genes, and thus
                derives little energy and little protein from consumption of bamboo. The giant panda is a highly
                specialised animal with unique adaptations, and has lived in bamboo forests for millions of years.
            </p>
            <p class="w-full lg:text-lg lg:w-1/3 mt-3">
                It can ingest up to 20kg of bamboo per day and spends nearly 14 hours chewing them because of its poor
                capacity to assimilate cellulose (deprived of "caecum", like any ursid, it can only digest 17%).Its
                ability to digest cellulose is ascribed to the microbes in its gut. Pandas are born with sterile
                intestines and require bacteria obtained from their mother's feces to digest vegetation.
            </p>
        </div>
    </div>
</div>
<script>
    let navbar = document.getElementById("navigationbar");
    navbar.classList.add("absolute");
    navbar.classList.add("-bottom-7");
    navbar.classList.remove("fixed");
    navbar.classList.remove("top-0");
    let innernavbar = document.getElementById("innernavigationbar");
    innernavbar.classList.add("pb-2");
    let scrollbtn = document.getElementById("scrollButton");

    scrollbtn.onclick = () => {
        console.log("panda")
        document.getElementById("html").scrollTop = window.innerHeight-navbar.offsetHeight
    }

    window.onscroll = () => {
        // console.log(window.screenTop)
        // console.log(window.scrollY)
        // console.log(navbar.offsetTop)
        // console.log("---")
        if (window.scrollY >= window.innerHeight-navbar.offsetHeight) {
            navbar.classList.remove("absolute");
            navbar.classList.remove("-bottom-7");
            navbar.classList.add("fixed");
            navbar.classList.add("top-0");
        } else {
            navbar.classList.add("absolute");
            navbar.classList.add("-bottom-7");
            navbar.classList.remove("fixed");
            navbar.classList.remove("top-0");
        }
    }

    // remove when repair
    // let body = document.getElementById("body");
    // body.classList.add("overflow-y-hidden");
</script>
{{ end }}